Build/
.DS_Store
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
.venv/
/.vs/edk2/v16/Browse.VC.db
/.vs/edk2/v16/Browse.VC.db-shm
/.vs/edk2/v16/Browse.VC.db-wal
/.vs/edk2/v16
/.vs/ProjectSettings.json
/.vs
